<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rekha News Website</title>
    <link rel="stylesheet" href="{%static "css/newsstyle.css"%}">
</head>
<body>
    <h1>Welcome to REKHA NEWS Website...</h1>
    <hr />
    <ul type="disc">
        <span>***Categories***</span><br/><br />
        <li><a href="india/">India News</a></li>
        <li><a href="sports/">Sports News</a></li>
        <li><a href="tech/">Technology News</a></li>
    </ul>
</body>
</html>